<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FlatColor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FlatColorExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DFE5015E1D26844200E74C41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFE501681D26844200E74C41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFE5017E1D26846900E74C41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFE501911D26846A00E74C41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFE5019C1D26846A00E74C41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
